# deps
node_modules/

# next.js
.next/
out/

# turbo
.turbo/

# vercel
.vercel/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/
*.swp
